body {
    background-color: aquamarine;

}

.title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
}

.headers{
    color: gray;
    font-size: 30px;
    text-decoration: underline;
    text-align: center
}

.list{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}

.ordered-list {
    text-align: center;
    font-size:20px;
}